{
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": false,
	"semi": true,
    "quoteProps": "as-needed",
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
	"overrides": [
		{
			"files": "*.sol",
			"options": {
				"parser": "solidity-parse",
				"printWidth": 80
			}
		}
	],
	"plugins": ["prettier-plugin-solidity"]
}
